<ion-view view-title="Map">
    <ion-content>
      <g-map></g-map>
        <g-btn-center></g-btn-center>
        <g-btn-location></g-btn-location>
        <!-- <div id="map" data-tap-disabled="true" style="width:100%;height:95%"></div> -->
        <!-- <div ng-show="show">
        <div id="btnCenter" class="btnMapCenter">
            Center Map
        </div>
        <div id="btnLocation" class="btnMapLocation">
          <a class="button-icon icon ion-pinpoint"></a>
        </div>
        <span>lat {{coordinates.latitude}} long {{coordinates.longitude}}</span>
      </div> -->
    </ion-content>
</ion-view>
